@font-face {
    font-family: 'Source Sans Pro Regular';
    src: url('holbertonschool-web-development/fonts/SourceSansPro-Regular.otf');
}

@font-face {
    font-family: 'Source Sans Pro Bold';
    src: url('holbertonschool-web-development/fonts/SourceSansPro-Bold.otf');
}

@font-face {
    font-family: 'Source Sans Pro Light';
    src: url('holbertonschool-web-development/fonts/SourceSansPro-Light.otf');
}

@font-face {
    font-family: 'Spin Cycle OT';
    src: url('holbertonschool-web-development/fonts/spincycle_ot.otf');
}

:root {
    --font-family: "Source Sans Pro Regular", sans-serif;
    --second-family: "Coiny", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    color: #ffffff;
    background-image: url('holbertonschool-web-development/images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-top: 35.02px;
    width: 100%;
    padding-left: 171.59px;
    padding-right: 171.59px;
    height: 29.46px;
}

#navbar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 234px;
    height: 15px;
}

nav #item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15px;
    color: white;
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 12px;
    color: #fff;
}

#banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
    margin-top: 220px;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

#banner #title-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#banner #title-container h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 120px;
    text-align: center;
    color: #fff;
    /* top: 20%; */
    width: 684px;
    height: 151px;
    top: 220px;
    left: 377px;
    gap: 0px;
    opacity: 0px;
}

#title-container p {
    position: relative;
    display: flex;
    margin-top: 5px;
    gap: 50px;
}

#title-container p span {
    font-family: 'Source Sans Pro Bold';
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    margin: 0 10px;
}

#banner button {
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #C271FF;
    border: none;
    left: 50%;
    border-radius: 22px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #fff;
    width: 162px;
    height: 44px;
    margin-top: 70px;
    gap: 0px;
    opacity: 0px;
}

#banner button:hover {
    background-color: #A44BFF;
    transform: scale(1.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#banner span {
    font-family: 'Source Sans Pro Bold';
    color:#C271FF;
    font-size: 32px;
}

#pros-container {
    display: flex;
    margin-top: 100px;
    margin-bottom: 150px;
    width: 1103.41px;
    height: 29.46px;
    flex-direction: column;
}

#banner #pros-container h2 {
    font-family: 'Source Sans Pro Light';
    color: white;
    font-size: 32px;
    text-decoration: none;
    height: 40px;
    gap: 0px;
    opacity: 0px;
}

#pros-container #info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    height: 237px;
    top: 758px;
    left: 217px;
    gap: 0px;
    opacity: 0px;
}

#pros-container h3 {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #fff;
}

#pros-container p {
    font-family: var(--font-family);
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #fff;
}

#weather {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 300px;
    width: 100%;
    height: 392px;
    background-color: #C271FF;
}

#weather img {
    position: relative;
    display: flex;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    margin-left: 472px;
    gap: 0px;
    opacity: 0px;
}

#weather-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 730px;
    height: 158px;
    margin-left: 20px;
    gap: 0px;
    opacity: 0px;
};

#weather-container blockquote {
    font-family: 'Source Sans Pro Regular';
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    line-height: 33.6px;
    text-align: left;
}

#weather-container p {
    font-family: 'Source Sans Pro Bold';
    font-size: 22px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    line-height: 33.6px;
    text-align: left;
}

#weather-container #username {
    font-family: 'Source Sans Pro Light';
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    width: 165px;
    height: 34px;
    top: 124px;
    gap: 0px;
    opacity: 0px;
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    line-height: 33.6px;
    text-align: left;
}

#most-popular {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 650px;
    width: 100%;
    gap: 0px;
    opacity: 0px;
}

#most-popular h1 {
    font-family: 'Source Sans Pro Light';
    color: #071629;
    font-size: 32px;
    font-weight: 300;
    line-height: 40px;
    text-align: center;
    margin-top: 100px;
    gap: 0px;
    opacity: 0px;
}

#most-popular h1 span {
    font-family: 'Source Sans Pro Regular';
    color: #C271FF;
    font-weight: 700;
}

#most-popular-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 450px;
    gap: 0px;
}

#most-popular-container #item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 150px;
    margin-left: 15px;
    margin-right: 15px;
    width: 255px;
    height: 246px;
    gap: 0px;
}

#most-popular-container #item #preview {
    width: 255px;
    height: 154px;
    gap: 0px;
    opacity: 0px;
}

#most-popular-container #item h2 {
    display: flex;
    color: black;
    font-family: 'Source Sans Pro Regular';
    font-size: 16px;
    font-weight: 700;
    line-height: 20.11px;
    text-align: left;
    margin-top: 10px;
    gap: 0px;
    opacity: 0px;
    margin-bottom: 10px;
}

#most-popular-container #item p {
    width: 255px;
    height: 54px;
    top: 192px;
    left: 13px;
    gap: 0px;
    color: #848a93;
    opacity: 0px;
    font-family: 'Source Sans Pro Light';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-bottom: 10px;
}

#sender {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

#sender img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#sender h3 {
    font-family: 'Source Sans Pro Light';
    font-size: 14px;
    font-weight: 600;
    line-height: 27px;
    color: #C271FF;
}

#stars {
    display: flex;
    justify-content: center;
    gap: 5px;
}

#stars img {
    width: 16px;
    height: 16px;
}

#stars p {
    display: flex;
    font-family: 'Source Sans Pro Light';
    font-size: 14px;
    font-weight: 600;
    line-height: 27px;
    color: #C271FF;
    text-align: right;
    right: 0;
}

#membership {
    background-color: #071629;
    width: 100%;
    height: 502px;
    gap: 0px;
    opacity: 0px;
}

#membership h1 {
    font-family: 'Source Sans Pro Light';
    color: #fff;
    font-size: 32px;
    font-weight: 300;
    line-height: 40px;
    text-align: center;
    margin-top: 100px;
    gap: 0px;
    opacity: 0px;
}

#membership #info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
    height: 237px;
    opacity: 0px;
}

#membership #item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 150px;
    gap: 0px;
}

#membership img {
    width: 43.67px;
    height: 35.35px;
    gap: 0px;
    opacity: 0px;
}

#membership h2 {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #fff;
}

#membership p {
    font-family: var(--font-family);
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #fff;
}

#membership button {
    position: relative;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #C271FF;
    border: none;
    border-radius: 22px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #fff;
    width: 162px;
    height: 44px;
    margin-left: 0;
    margin-right: 0;
    gap: 0px;
    opacity: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
}

#membership button:hover {
    background-color: #A44BFF;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#faq {
    background-color: white;
    width: 100%;
    color: black;
    height: 920px;
}

#faq h1 {
    font-family: 'Source Sans Pro Regular';
    color: #071629;
    font-size: 60px;
    font-weight: 300;
    line-height: 75.42px;
    text-align: center;
    margin-top: 50px;
    gap: 0px;
    opacity: 0px;
}

#faq #items-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    opacity: 0px;
}

#faq h3 {
    font-family: 'Source Sans Pro Regular';
    color: #071629;
    margin-top: 50px;
    gap: 0px;
    opacity: 0px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.11px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

#faq #item-rows {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    opacity: 0px;
    width: 100%;
    height: 700px;
}

#faq #item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 150px;
    gap: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#faq p {
    width: 350px;
    height: 192px;
    gap: 0px;
    opacity: 0px;
    margin-bottom: 10px;

    font-family: 'Source Sans Pro Regular';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #07162980;
}

#footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    opacity: 0px;
    height: 250px;
    width: 100%;
}

#footer-content p {
    position: absolute;
    display: flex;
    font-family: 'Source Sans Pro Light';
    text-align: center;
}

#footer-block {
    background-color: #071629;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    opacity: 0px;
    width: 100%;
    height: 100%;
}

#footer-links {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    opacity: 0px;
    width: 130px;
    height: 30px;
    gap: 20px;
    opacity: 0px;
    right: 150px;
}

#footer-image {
    position: absolute;
    width: 114px;
    height: 20px;
    left: 100px;
}

#footer-links a {
    display: flex;
    text-decoration: none;
}
